<div class="container mt-5" style="max-width: 500px;">
  <h3 class="mb-4 text-center">Şifremi Unuttum</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">E-posta Adresiniz</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        [class.is-invalid]="submitted && f['email'].invalid"

        placeholder="ornek@mail.com"
      />
     <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
  <div *ngIf="f['email'].errors['required']">E-posta gereklidir.</div>
  <div *ngIf="f['email'].errors['email']">Geçerli bir e-posta giriniz.</div>
</div>

    </div>

    <button class="btn btn-primary w-100" type="submit">Gönder</button>

    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </form>
</div>
 
